version: '3.8'

services:
    reservas-db:
        image: mysql:8.0
        container_name: elbuensabor_mysql
        environment:
            MYSQL_ROOT_PASSWORD: rootroot
            MYSQL_DATABASE: elbuensabor_db
        volumes:
            - mysql_data:/var/lib/mysql
        ports:
            - "3307:3306"
        #networks:
            #elbuensabor_network:
                #ipv4_address: 172.18.0.202
                # Ejecutar estas lineas para el usuario y contraseña requerido
                # docker exec -it elbuensabor_mysql mysql -u root -p
                # CREATE USER 'redStak' IDENTIFIED BY 'qu1Nch1nK';
                # GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP ON *.* TO 'redStak';

    usuarios-db:
        image: mongo:7
        container_name: elbuensabor_mongo
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD: admin123
            MONGO_INITDB_DATABASE: elbuensabor_db
        volumes:
            - mongo_data:/data/db
        ports:
            - "27017:27017"
        networks:
            elbuensabor_network:

    discovery:
        build:
            context: ./discovery
            dockerfile: dockerfile
        ports:
            - "8761:8761"
       # networks:
        #    elbuensabor_network:
         #       ipv4_address: 172.18.0.10
                
    gateway:bnjbh
        build:
            context: ./gateway
            dockerfile: dockerfile
        ports:
            - "8080:8080"
        networks:
            elbuensabor_network:
               ipv4_address: 172.18.0.12 
    
    reservas:
        build:
            context: ./reservas
            dockerfile: dockerfile
        # Dependencias de otros servicios
        depends_on:
            - reservas-db
            - discovery
        networks:
            - elbuensabor_network
       
                
    usuarios:
        build:
            context: ./usuario
            dockerfile: dockerfile
        deploy:
            mode: replicated
            replicas: 1  # Se empieza con 1 y va subiendo
        networks:
            - elbuensabor_network
        #        ipv4_address: 172.18.0.114 los microservicios no necesitan ip fija

volumes:
#guardan el estado de las bases de datos en una ubicación segura gestionada por Docker en caso de apagones o reinicios de contenedores.
    mongo_data:
    mysql_data:


networks:
    elbuensabor_network:
        driver: bridge
        ipam:
            config:
                - subnet: 172.18.0.0/16
